/* Área de Contatos: */

.contatos {
    color: #FFF;
    text-align: center;
    height: calc(90vh - 80px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1{
        font-size: 35px;
        filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
    }
}

.containerContatos {
    max-width: 1000px;
    margin: 30px auto 0;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    .colors {
        display: flex;
        align-items: center;
        gap: 15px;
        
        padding: 20px;
        width: 700px;
        height: 60px;
        
        background-color: #777;
        border: 2px solid black;
        border-radius: 15px;
        color: #111;
        font-weight: bold;

        a {
            color: #111;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            text-underline-offset: 4px;
        }
        
    }    
}

/* Área dos Contatos: */

@media screen and (max-width: 764px) {
    .contatos {
        h1 {
            margin-bottom: 30px;
        }
    }
    
    .containerContatos {
        flex-direction: column;
        font-size: 12px;

        .colors {
            width: 350px;
            height: 60px;
        }   
    }
}