.container {
    display: flex;
    color: #FFF;
    height: calc(120vh - 80px);
}

.card {
    max-width: 1000px;
    margin: auto;

    .title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
        filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0F0F0F;
    border: 1px solid #FFF;
    border-radius: 12px;
    overflow: hidden;
    padding: 30px;
    gap: 30px;
}

.contentImage {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 450px;
    height: 320px;
    object-fit: contain;
    border-radius: 12px;
    background-color: #000; /* caso precise preencher bordas */
    border: 2px solid #222;
    box-shadow: 0 0 10px rgba(0, 212, 255, 0.3);
}

.conteudo {
    flex: 2;
    display: flex;
    flex-direction: column;

    p {
        text-align: justify;
        margin-bottom: 15px;
        line-height: 20px;
    }

    .subtitle {
        font-size: 14px;
        opacity: 0.6;
        margin: 16px 0;
    }    
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 50px;
    z-index: 0;
}

.techs {
    display: flex;
    gap: 10px;
}

.iconTech {
    width: 30px;
    transition: transform 0.3s;
}

.iconTech:hover {
    transform: scale(1.15);
}

.actions {
    display: flex;
    justify-content: end;
    gap: 15px;
}

.actions .btn {
    padding: 8px 16px;
    background-color: #fff;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.actions .btn:hover {
    background-color: #ddd;
}

@media (max-width: 764px) {
    .container {
        height: calc(150vh - 80px);
        padding: 20px;
    }

    .card {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .image {
        width: 100%;
        height: 280px;
        object-fit: contain;
    }

    .contentImage {
        width: 100%;
    }

    .content {
        flex-direction: column;
        padding: 20px;
    }

    .actions {
        justify-content: center;
    }
}