/* Área dos HardSkills */

.hardSkills {
    height: calc(130vh - 80px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerSkills {
    max-width: 800px;
    width: 100%;
    padding: 30px 20px;

    background-color: #111;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 14px;

    h2 {
        margin-bottom: 10px;
        text-transform: uppercase;
        filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
    }

    p {
        filter: drop-shadow(2px 3px 1px rgb(0, 0, 0));
    }
}

.iconsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
    justify-items: center;
    align-items: center;
}

.iconItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    transition: transform 0.3s;

    img {
        width: 50px;
    }

    span {
        font-weight: bold;
        filter: drop-shadow(1px 3px 1px rgb(0, 0, 0));
    }
}

.iconItem:hover {
    transform: scale(1.1);
}

/* Área das HardSkills: */

@media (max-width: 764px) {
    
    .containerSkills {
        max-width: 350px;
        padding: 20px;
    }
    
    .iconsGrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .iconItem {
        img {
            width: 30px;
        }

        span {
            font-size: 0.8rem;
        }
    }
}