/* Área de Início */

.container {
    margin: auto;    
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100vh;
    
    flex-wrap: wrap; /* Importante para a responsividade */
    
    color: #ffffff;
}

.conteudo { 
    background-color: #111;
    border: 1px solid #fff;
    border-radius: 14px;
    
    max-width: 800px;
    padding: 30px;
    
    h1 {
        font-size: 2.5rem;
        filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
    }

    h2 {
        color: #ccc;
        filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));

        font-size: 1.5rem;
        margin: 10px 0 20px;
        text-align: center;
    }

    p {
        font-size: 1rem;
        line-height: 1.4;
        filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
        text-align: justify;
    }

}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    white-space: nowrap;
}

.btn {
    display: flex;
    align-items: center;
    gap: 12px;

    text-decoration: none;

    background-color: #d6d5d5;
    color: #1e1e1e;
    border: 2px solid black;
    border-radius: 8px;

    padding: 10px;
    transition: all 1s ease;
}

.btn:hover {
    background-color: #eeeeee;
}

/* Área do Ínicio */

@media screen and (max-width: 1023px) {
    .conteudo {
        width: 90%;
    }

    .conteudo h1 {
        font-size: 2rem;
    }

    .conteudo h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 764px) {
    .hero {
        gap: 30px;
    }

    .conteudo h1 {
        font-size: 1.8rem;
    }

    .conteudo h2 {
        font-size: 1rem;
    }

    .conteudo p {
        font-size: 0.9rem;
    }

    .buttons {
        gap: 15px;
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px auto;
    }

    .btn {
        padding: 10px 12px;
        font-size: 0.8rem;
    }
}