header {
  background-color: #0D0D0D;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  width: 100%;
  height: 80px;
  border-radius: 8px;

  position: sticky;
  top: 0;
  z-index: 10;

  img {
    width: 80px;
  }
}

.menu {
  list-style: none;
  display: flex;
  gap: 50px;
}

.menu li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #829298;
}

@media (max-width: 1023px) {
  header {
    padding: 0 30px;
  }

  header img {
    width: 60px;
  }

  .menu li a {
    font-size: 0.9rem;
  }
}

@media (max-width: 764px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 12px;
  }

  header img {
    width: 50px;
  }

  .menu {
    gap: 12px;
  }
}